/*Content-Row2 tabs*/

/*need to center the title and the buttons*/

#content-Row2 {
  text-align: center;
}

#content-Row2 h1 {
  background-color: rgb(240, 248, 246);
  font-weight: 500;
  padding-top: 50px;
  padding-bottom: 50px;
}

#tabs {
  background-color: rgb(240, 248, 246);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* I have to hide all the content first*/

.tabContent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

#tabs button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/*Content Row three */

#content-Row3 {
  padding-top: 100px;
}
