/*Content-Row2 tabs*/

/*need to center the title and the buttons*/

#content-Row2 {
  text-align: center;
}

#content-Row2 h1 {
  background-color: rgb(240, 248, 246);
  font-size: 1.7em;
  letter-spacing: 0.05em;
  font-weight: 500;
  padding-top: 50px;
  padding-bottom: 50px;
}

#tabs {
  background-color: rgb(240, 248, 246);
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Button are next to each other*/

#tabs button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px 25px; /*left-right, up-down*/
  transition: 0.3s;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 0.1em;
}

/*Changing the little star in the button 
small and change color*/

.star {
  font-size: 13px;
  color: rgb(203 162 87);
}

/* I have to hide all the content first*/

.tabContent {
  display: none;
  padding-top: 30px;
  padding-bottom: 45px;
  border-top: none;
  background-color: rgb(212 232 225);
}

/* making the images in tabContent smaller*/

.favFreeImg {
  height: 200px;
  width: 400px;
  padding-left: 350px;
  padding-right: 30px;
}

/*flexbox the tabContent*/
.tabFlex {
  display: flex;
  padding-left: 20px;
  align-items: center;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

/*making the subTab width smaller */
.subTab {
  font-size: 1.1em;
  letter-spacing: 0.03em;
  text-align: left;
  width: 350px;
  line-height: 1.4;
}

.subTab p {
  font-size: 1em;
  width: 380px;
}

.subTab h4 {
  font-size: 1.3em;
  font-weight: 500;
}
